html{
	scroll-behavior: smooth;
}
body{
	
}


.row img {
	max-width: 220px;
	border-radius: 50px;
	opacity: 0.8;
}

.padding {
	padding: 20px 0;
	background-color: #69ffff;
}

.padding img {
	width:100%;
}


.text-justify{
	padding-top: 30px;
}

.hello {
	font-size: 35px;
	margin-bottom: -15px;
}

.name {
	font-size: 70px;
	font-weight: 900; 
}
.intro-bg{
	background:url(img/bg.jpg) no-repeat center center fixed;
	height: 100%;
	padding:100px;
	position: relative;
	width:100%;
	background-size: cover;
}


.intro h2{
	text-align: center;
	font-weight: 600;
	font-size: 35px;
	
}
.intro p {
	font-size: 25px;
	font-weight: 200;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.row i {
	font-size: 50px;
	margin: 10px;	
	margin-left: 80px;
}

.container-icon {
	padding-top: 10px;
}

.col-sm-9 {
	padding-top: 10px;
	text-align: justify;
}

.col-sm-9 i{
	font-size: 18px;
	margin:10px;
}

.intro li {
	font-weight: 400;
	font-size: 30px;
	margin: 5px;
	padding: 5px;
}

.fixed{
	background:url(img/bg2.jpg) no-repeat center center fixed;
	height: 100%;
	padding:200px;
	position: relative;
	width:100%;
	background-size: cover;
}

#footer {
	padding: 15px;
	padding-top: 20px;
	margin: 0;
	margin-right: 0;

}

.personal {
	vertical-align: middle;
	text-align: justify;
	padding-left: 80px;
}

footer {
	width:100%;
	background-color:#23415C;
	padding: 5% 5% 10% 5%;
	color: white;
}

footer .lni {
	padding: 15px;
	padding-top: 50px;
	font-size: 30px;
}

footer .lni:hover {
	color:grey;
	text-decoration: none;
}